h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 0px;
}

body{
    background-color: green;
    background-image: url('../images/pokemon_town.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div{
    margin: 2px 0px 0px 0px;
}

p{
    padding: 5px;
}

div#pokemon img{
    width: 30%;
    display:inline-block
}

.row{
    margin: 0 auto;
    width: 800px;
}

audio {
    width: 100px;
    position: absolute;
    top: 0px;
    left: -100px;
}

#pokemon{
    padding: 10px;
    text-align: center;
}

#pokemon span{
    display: none;
}

#pokemon img:hover + span{
    display: inline-block;
}

#chosen{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 0px;
}

#enemy{
    visibility: hidden;
}

#action{
    visibility: hidden;
}